*{
    box-sizing: border-box;
}
body {
    background-color: rgb(15, 15, 15);
    /* background-color: rgb(179, 59, 79); */
    color: white;
    font-family: 'Luckiest Guy', 'sans-serif';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

/* Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-title {
    color: white;
    font-size: 37px;
}

.header-images {
    height: 150px;
    width: auto;
    border-radius: 50%;
    border: 2px solid white;
}

.content-players {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 20px;    
    margin-bottom: 40px;
}

.content-options {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
}

img {
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid black;
    transition: all 0.1s ease;
}

img:hover {
    border: 2px solid white;
}


.active {
    opacity: 0.6;
    transform: scale(0.7);
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 5px 0px;
}

.fa:hover {
    opacity: 0.7;
}

/* Social Media  */
.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
  }

.fa-youtube {
    background: #bb0000;
    color: white;
}

/* .fa {
    padding: 20px;
    font-size: 30px;
    width: 10px;
    /* text-align: center; */
    /* text-decoration: none; */
    /* margin: 5px 2px; */
    /* border-radius: 20%; */

.fa {
    text-decoration: none;
    padding: 7px;
    border-radius: 20%;
    margin: 2px;
}

.copyright {
    margin-right: 20px;
}

.footer-links {
    font-size: 15px;
}

.rule1 {
    background-image: url('../images/ruleboard.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 35px 60px;
    font-size: 15px;
    max-width: 600px;
    width: fit-content;
    flex-shrink: 0;
}

.rule2 {
    max-width: 500px;
    flex-shrink: 1;
    height: 320px;
}

a {
    margin: 0;
    padding: 0;
}

.content-rules-title {
    font-size: 20px;
    text-align: center;
}
.content-rules {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
}

.content-command {
    -webkit-text-stroke: 2px white;
    font-family: 'Lilita One', cursive;
    font-size: 37px;
    /* font-style: italic; */
    color: black;
    text-align: center;
}

